.navigation.widget(data-widget="microcreditDRC.Navigation")
	a.navigation__previous.btn.btn-default(data-bind="click: previous, css: {disabled: !hasPrevious() }") &lt; Previous
	a.navigation__next.btn.btn-default(data-bind="click: next, css: {disabled: !hasNext() }") Next &gt;