.navigation.widget(data-widget="microcreditDRC.Navigation")
	a.navigation__previous.btn.btn-default(data-bind="click: previous, css: {disabled: !hasPrevious() }") <span class="glyphicon glyphicon-chevron-left"></span> Previous 
	a.navigation__next.btn.btn-default(data-bind="click: next, css: {disabled: !hasNext() }") Next <span class="glyphicon glyphicon-chevron-right"></span>