// GENERAL RULES
body {
	background-color  : #FAF7FF;
	font-family       : Arial;
	padding           : @PADDING;
	margin            : 0;

	-webkit-touch-callout : none;
	-webkit-user-select   : none;
	-khtml-user-select    : none;
	-moz-user-select      : none;
	-ms-user-select       : none;
	user-select           : none;
	
}

.map {
	path {
		fill : #4B4B4B;
		stroke: #E8E8E8;
		stroke-width: .05em;
	}

}

// EOF
