<!DOCTYPE html>
<html lang="{{g.get('language', 'en')}}">

	<head>
		<meta charset="utf-8">
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>{% trans %}microcreditDRC{% endtrans %}</title>
		{% include "partials/css.html" %}
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

	</head>

	<body class="use-base loading">

		{% block content %}{% endblock %}

		{% include "partials/js.html" %}

	</body>
</html>
