<!DOCTYPE html>
<html lang="{{g.get('language', 'en')}}">

	<head>
		<meta charset="utf-8">{#  #}</meta>
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>{% trans %}embeded microcreditDRC{% endtrans %}</title>

	</head>

	{% assets "css_bootstrap" %}
		<link rel="stylesheet" href="{{ ASSET_URL | relative_url }}" type="text/css" />
	{% endassets %}

	<body class="use-base">

		<div class="container">

			<h1>Notes to developer - Micro Credit in DRC</h1>

			<h2>How to install</h2>

			<pre>&lt;iframe id="map-iframe" src="{{ url_for("index", _external=True) }}#settings={"show_navigation":false}" width="100%" height="600" frameborder="0"&gt;&lt;/iframe&gt;</pre>

			<iframe src="{{ url_for("index", _external=True) }}#settings={&quot;show_navigation&quot;:false}" width="100%" height="600" frameborder="0"></iframe>

			<h2>How to Configure</h2>

			<h3>Default settings</h3>

			static/gen/settings.js

			<pre>{{ settings_content }}</pre>

			<h3>Customize</h3>

			You can overwrite settings in the url hash like in the next iframe or directly in the file <strong>static/gen/settings.js</strong>.

			<pre>&lt;iframe id="map-iframe" src="{{ url_for("index", _external=True) }}#settings={&quot;show_navigation&quot;:false, &quot;background_color&quot;:&quot;rgb(75, 56, 50)&quot;, &quot;text_color&quot;:&quot;white&quot;, &quot;map&quot; :{ &quot;choropleth_color_scale&quot; : [&quot;rgb(255,255,212)&quot;,&quot;rgb(254,227,145)&quot;,&quot;rgb(254,196,79)&quot;,&quot;rgb(254,153,41)&quot;,&quot;rgb(236,112,20)&quot;,&quot;rgb(204,76,2)&quot;,&quot;rgb(140,45,4)&quot;]}}" width="100%" height="300" frameborder="0"&gt;&lt;/iframe&gt;</pre>

			<h3>Story</h3>
			<ul>
				<li><strong>Data</strong> are in <strong>static/data/</strong></li>
				<li><strong>Storyboard</strong> is in <strong>static/storyboard.json</strong></li>
				<li>And <strong>Stories</strong> are in <strong>static/stories/</strong><br/>
					Story name should be <strong>[index of the story in storyboard.json].md</strong>. Formmated as a markdown file. <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">See Markdown documentation</a></li>
			</ul>

			<h2>Control the map with the API</h2>

	<pre>&lt;script type="text/javascript"&gt;

	// show the previous story
	<span class="important">microcreditDRC.Navigation.Instance.previous();</span>
	// show the next story
	<span class="important">microcreditDRC.Navigation.Instance.next();</span>
	// return true if there is a next story after the current story
	<span class="important">microcreditDRC.Navigation.Instance.hasNext();</span>
	// return true if there is a previous story before the current story
	<span class="important">microcreditDRC.Navigation.Instance.hasPrevious();</span>
	// show the specified story
	<span class="important">microcreditDRC.Navigation.Instance.showStory(story_index);</span>

&lt;/script&gt;</pre>

			<h2>Exemple with outisided navigation</h2>

			This is an iframe
			<iframe id="map-iframe" src="{{ url_for("index", _external=True) }}#settings={&quot;show_navigation&quot;:false, &quot;background_color&quot;:&quot;rgb(75, 56, 50)&quot;, &quot;text_color&quot;:&quot;white&quot;, &quot;map&quot; :{ &quot;choropleth_color_scale&quot; : [&quot;rgb(255,255,212)&quot;,&quot;rgb(254,227,145)&quot;,&quot;rgb(254,196,79)&quot;,&quot;rgb(254,153,41)&quot;,&quot;rgb(236,112,20)&quot;,&quot;rgb(204,76,2)&quot;,&quot;rgb(140,45,4)&quot;]}}" width="100%" height="300" frameborder="0"></iframe>

			Now control the map with these outsided buttons<br/>
			<button id="previous" onclick="previous()">Previous</button>
			<button id="next"     onclick="next()">Next</button>
			<button               onclick="go(0)">1</button>
			<button               onclick="go(1)">2</button>
			<button               onclick="go(2)">3</button>
			<button               onclick="go(3)">4</button>
			<button               onclick="go(4)">5</button>
			<button               onclick="go(5)">6</button>
			<button               onclick="go(6)">7</button>
			<br/>
			<br/>
	<pre>&lt;script type="text/javascript"&gt;

	var iframe = document.getElementById("map-iframe");

	var previous = function() {
		<span class="important">iframe.contentWindow.microcreditDRC.Navigation.Instance.previous();</span>
	};

	var next = function() {
		<span class="important">iframe.contentWindow.microcreditDRC.Navigation.Instance.next();</span>
	};

	var go = function(idx) {
		<span class="important">iframe.contentWindow.microcreditDRC.Navigation.Instance.showStory(idx);</span>
	};

&lt;/script&gt;</pre>
		</div>

		<script type="text/javascript">
			var iframe = document.getElementById("map-iframe");

			var previous = function() {
				iframe.contentWindow.microcreditDRC.Navigation.Instance.previous();
			};

			var next = function() {
				iframe.contentWindow.microcreditDRC.Navigation.Instance.next();
			};

			var go = function(idx) {
				iframe.contentWindow.microcreditDRC.Navigation.Instance.showStory(idx);
		};

		</script>
	</body>
</html>
